body {
  width: 100%;
  height: fit-content;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.cake {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 100px;
}
.container {
  margin-top: 60px;
  height: 670px;
  margin-bottom: 120px;
  width: 50px;
}
